h1{
    color: rgb(72, 228, 0);
    text-align: center;
}
p{
    color: rgb(34, 0, 228);
    text-align: center;
}
body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#content{
    text-align: center;
}

#header{
    width: 100%;
    background-color: darkgray;
}

#footer{
    width: 100%;
    background-color: darkgreen;
}

#contenido{
    background-color: darkturquoise;
}